<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/static/plugins/jquery-3.4.0.js"></script>
    <style>
        .input-item{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid center-block">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="box-shadow: darkgrey 1px 1px 3px 2px;">
            <form action="{% url 'register' %}" method="POST" style="margin: 20px"  enctype="multipart/form-data">
                {% csrf_token %}
                {% if obj.non_field_errors.0 %}
                     <div class="non_filed_errors">{{ obj.non_field_errors}}
                {% endif %}

                <div class="input-item">
                    <label class="input_label">昵称：</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" name="username" placeholder="输入昵称"
                               value="{{ obj.username.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <ul><li class="error_msg">{{ obj.username.errors.0}}</li></ul>
                    </div>
                </div>

                <div class="input-item">
                    <label class="input_label">账号：</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" name="account" placeholder="输入账号"
                               value="{{ obj.account.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <ul><li class="error_msg">{{ obj.account.errors.0}}</li></ul>
                    </div>
                </div>

                <div class="input-item">
                    <label class="input_label">密码：</label>
                    <div class="input-group input-group-sm">
                        <input type="password" class="form-control" name="pwd" placeholder="输入密码"
                               value="{{ obj.pwd.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <ul><li class="error_msg">{{ obj.pwd.errors.0}}</li></ul>
                    </div>
                </div>

                <div class="input-item">
                    <label class="input_label">确认密码：</label>
                    <div class="input-group input-group-sm">
                        <input type="password" class="form-control" name="confirm_pwd" placeholder="确认密码"
                               value="{{ obj.confirm_pwd.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <ul>
                            <li class="error_msg">{{ obj.pwd.errors.0 }}</li>
                        </ul>
                    </div>
                </div>

                <div class="input-item">
                    <label class="input_label">邮箱：</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" name="email" placeholder="输入邮箱"
                               value="{{ obj.email.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <ul>
                            <li class="error_msg">{{ obj.email.errors.0 }}</li>
                        </ul>
                    </div>
                </div>

                <div class="input-item">
                    <label class="input_label">上传图片：</label>
                    <div class="input-group input-group-sm">
                        <input type="file" class="form-control" name="img" placeholder=""
                               value="{{ obj.img.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <ul>
                            <li class="error_msg">{{ obj.img.errors.0 }}</li>
                        </ul>
                    </div>

                <div class="input-item">
                    <label class="input_label">验证码：</label ><img src="{% url 'apply_verify_code' %}" alt="">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" name="verify_code" placeholder="输入验证码"
                               value="{{ obj.verify_code.value|default_if_none:"" }}" aria-describedby="basic-addon2">
                        <img src="" alt="">
                        <ul>
                            <li class="error_msg">{{ obj.verify_code.errors.0 }}</li>
                        </ul>
                    </div>
                </div>

                    <div class="input-item">

                <input type="submit">
                    </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>